CREATE TABLE mdl_local_amanda_roadmaps (
    id BIGINT(10) NOT NULL AUTO_INCREMENT,
    userid BIGINT(10) NOT NULL,
    student_name VARCHAR(255) NOT NULL,
    roadmap_content TEXT NOT NULL,
    milestones TEXT NOT NULL,
    timecreated BIGINT(10) NOT NULL,
    CONSTRAINT PRIMARY KEY (id)
);
